.friendList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  display: flex;
  gap: 5px;
  height: 60px;
  width: 200px;
  padding: 0 5px;
  align-items: center;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 6px;
  background-color: white;
  box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.3);
  transition: transform 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.item:hover {
  transform: scale(1.1);
  z-index: 10;
}

.online {
  color: green;
}

.offline {
  color: red;
}
